.board{
    width: 70px;
    height: 65px;
    display: inline-grid;
    grid-template-columns: repeat(7, 10px);
}
.modern {
    background-color: #2424a3;
} 
#modern{
    padding: 5px;
}
#modern:hover{
    cursor: pointer;
    background-color: rgba(168, 168, 168, 0.5);
}
.classic{
    background-color: #fde933;
}
#classic{
    padding: 5px;
}
#classic:hover{
    cursor: pointer;
    background-color: rgba(168, 168, 168, 0.5);
}

.active{
    background-color: rgba(168, 168, 168, 0.75);
}

.column {
    width: 10px;
    height: 60px;
    display: inline-grid;
    grid-template-rows: repeat(6, 10px);
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
}


.column > .cell{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ffffff;
}

.modern>.column:nth-child(1)>.cell:nth-child(6),
.modern>.column:nth-child(1)>.cell:nth-child(4),
.modern>.column:nth-child(2)>.cell:nth-child(5),
.modern>.column:nth-child(2)>.cell:nth-child(3),
.modern>.column:nth-child(3)>.cell:nth-child(5),
.modern>.column:nth-child(3)>.cell:nth-child(3),
.modern>.column:nth-child(4)>.cell:nth-child(6),
.modern>.column:nth-child(5)>.cell:nth-child(5),
.modern>.column:nth-child(5)>.cell:nth-child(4),
.modern>.column:nth-child(5)>.cell:nth-child(3),
.modern>.column:nth-child(6)>.cell:nth-child(6),
.modern>.column:nth-child(6)>.cell:nth-child(5),
.modern>.column:nth-child(7)>.cell:nth-child(4)
{
    background: yellow;
}

.modern>.column:nth-child(1)>.cell:nth-child(5),
.modern>.column:nth-child(2)>.cell:nth-child(6),
.modern>.column:nth-child(2)>.cell:nth-child(4),
.modern>.column:nth-child(3)>.cell:nth-child(6),
.modern>.column:nth-child(3)>.cell:nth-child(4),
.modern>.column:nth-child(4)>.cell:nth-child(5),
.modern>.column:nth-child(4)>.cell:nth-child(4),
.modern>.column:nth-child(4)>.cell:nth-child(3),
.modern>.column:nth-child(5)>.cell:nth-child(6),
.modern>.column:nth-child(6)>.cell:nth-child(4),
.modern>.column:nth-child(7)>.cell:nth-child(6),
.modern>.column:nth-child(7)>.cell:nth-child(5),
.modern>.column:nth-child(7)>.cell:nth-child(3)
{
    background: red;
}

.classic>.column:nth-child(1)>.cell:nth-child(5),
.classic>.column:nth-child(2)>.cell:nth-child(6),
.classic>.column:nth-child(2)>.cell:nth-child(4),
.classic>.column:nth-child(3)>.cell:nth-child(6),
.classic>.column:nth-child(3)>.cell:nth-child(4),
.classic>.column:nth-child(4)>.cell:nth-child(5),
.classic>.column:nth-child(4)>.cell:nth-child(4),
.classic>.column:nth-child(4)>.cell:nth-child(3),
.classic>.column:nth-child(5)>.cell:nth-child(6),
.classic>.column:nth-child(6)>.cell:nth-child(4),
.classic>.column:nth-child(7)>.cell:nth-child(6),
.classic>.column:nth-child(7)>.cell:nth-child(5),
.classic>.column:nth-child(7)>.cell:nth-child(3) {
    background: black;
}

.classic>.column:nth-child(1)>.cell:nth-child(6),
.classic>.column:nth-child(1)>.cell:nth-child(4),
.classic>.column:nth-child(2)>.cell:nth-child(5),
.classic>.column:nth-child(3)>.cell:nth-child(5),
.classic>.column:nth-child(3)>.cell:nth-child(3),
.classic>.column:nth-child(4)>.cell:nth-child(6),
.classic>.column:nth-child(5)>.cell:nth-child(5),
.classic>.column:nth-child(5)>.cell:nth-child(4),
.classic>.column:nth-child(5)>.cell:nth-child(3),
.classic>.column:nth-child(6)>.cell:nth-child(6),
.classic>.column:nth-child(6)>.cell:nth-child(5),
.classic>.column:nth-child(7)>.cell:nth-child(4)
{
    background: red;
}

#display{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#GameMode{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#TwoPlayer:hover{
    cursor: pointer;
    background-color: rgba(168, 168, 168, 0.5);

}

#SinglePlayer:hover {
    cursor: pointer;
    background-color: rgba(168, 168, 168, 0.5);

}

#play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#play:hover{
    cursor: pointer;
}
#play:focus{
    outline: none;
}